# Ignore these files
Afangi_2/Timaverkefni_5/Timaverkefni_5_codes_and_videos.zip
Afangi_2_V24/Timaverkefni_5/Timaverkefni_5_codes_and_videos.zip

Afangi_2/Timaverkefni_5/verkefni_5_videos/
Afangi_2_V24/Timaverkefni_5/verkefni_5_videos/
